@mixin clearfix {
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

html,body {
  font-family: Helvetica;
  text-align: center;
}

.category-button {
  border: 1px solid black;
  background:none;
  padding: 20px;
  margin-right: 15px;
  cursor: pointer;
  outline: none;
  &.active {
    background: gainsboro;
  }
}

.flash-card {

  position: relative;
  width: 60%;
  height: 400px;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid black;
  padding: 50px;
  box-shadow: 3px 4px 5px 1px rgb(107, 107, 107);

  h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
  }

  h3 {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    color: #bababa;
  }

  .flash-card-answers {
    @include clearfix;
    width: 100%;
    margin: 0 auto;
    clear:both;
  }

  .flash-card-answer {
    min-height: 100px;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    float: left;
    width: 32%;
    margin-right: 2%;
    cursor: pointer;
    line-height: 1.3em;
    &:last-child {
      margin-right: 0;
    }
  }

}

.answer-feedback {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  &.correct {
    color: green;
  }
  &.incorrect {
    color: red;
  }
}

#statistics {

  @include clearfix;
  padding: 40px;

  #scoreboard {

    float:right;
    margin: 0 auto;

    h3 {

      margin-right: 40px;
      float: left;

      &:last-child {
        margin-right: 0;
      }

      span {
        font-weight: bold;
      }

    }

  }

}